<div class="info-box">
<h3>{{data.metadata.name}}</h3>

<p>
    {{#each-in data.metadata.labels as |key value|}}
        <span class="label">{{key}}:{{value}}</span>
    {{/each-in}}
</p>

<div class="info-box-details">
{{data.status.readyReplicas}}/{{data.status.replicas}} Ready
</div>
<div id="alertsbox">
    {{#each alerts as |alert|}}
    <p>{{alert.type}} - {{alert.message}}</p>
    {{/each}}
</div>
<div class="specdetails">
    {{#each data.spec.template.spec.containers as |container|}}
<p>        {{container.image}} | <a href="https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q={{container.image}}&starCount=0">Docker Hub</a>
        {{#each container.ports as |port|}}
            {{port.protocol}}:{{port.containerPort}}
        {{/each}}
        {{#each container.env as |env|}}
            <p>{{env.name}}: {{env.value}}</p>
        {{/each}}</p>
    {{/each}}
</div>
<h4>Latest events</h4>
{{#each data.status.conditions as |log|}}
<div>
    <p>{{log.type}} - {{log.lastUpdateTime}}</p>
    <p>{{log.message}}</p>
</div>
{{/each}}
</div>
