<h2>Explore</h2>
{{outlet}}
<p>{{model.kind}}</p>
<ul>
  {{#each model.items as |pod|}}
    <li>{{pod.metadata.name}}</li>
  {{/each}}
</ul>

{{deployment-graph data=model circleClicked=(action "showInfo") networkpolicies=networkpolicies}}
{{#if infoShown}}
{{info-box data=infoInfos}}
{{/if}}
