<h2>Explore</h2>
{{outlet}}
<p>{{model.kind}}</p>
<ul>
  {{#each model.deployments.items as |pod|}}
    <li>{{pod.metadata.name}}</li>
  {{/each}}
</ul>

{{#each model.namespaces.items as |namespace|}}
{{#link-to "namespaces" namespace.name}}{{namespace.name}}{{/link-to}}
{{/each}}
{{deployment-graph data=model.deployments}}
